
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');


  
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;


  
}

img{
   
    width: 300px;
    height: 105px;
    cursor: pointer;
   
   
}

html{

    overflow-x: hidden;
    
}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition:.5s ;
    font-family: 'Poppins', sans-serif;
}

.logo{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  }

  .logo span{
    color: #aa3e00d5;
  }

  .login{
    padding: 9px 10px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 12px; 
    background: #e67943;
    color: #fff;
    }

    .login:hover{
      background: hsl(24, 98%, 58%); 
      transition: .5s;
     }
  

.navbar a{
position: relative;
font-size: 18.5px;
color:#fff;
font-weight: 500;
left: 410px;
margin-right: 30px;
text-decoration:none;
transition: .5s ease-in forwards;

}
.navbar a:hover{
    background:transparent;
    color:#c7774f;
   
}


 .img-bg img{
    width: 100%;
    height: 10%;
  
 }

 .wrapper{
    width: 100%;
    background:#fff;
 }

 .title h1{
color:#7F3814;
font-size: 46px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
text-align: center;
padding: 40px 0px;
 }
.about{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -80px;
   padding: 0px 80px; 
}

.img-section{
    position: relative;
   width: 50%;
   height: 100%;


}
.img-section img{
  width: 390px;
  height: 550px;
  margin-bottom: 690px;
}

article{
    width: 89%;
}
article h3{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #7F3814;

}
article p{
    margin-bottom: 19px;
    font-size: 15px;
    color: #000;  
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
  }



.testimonial{
position: relative;
max-width: 900px;
width: 100%;
padding: 15px ;
border-radius: 22px;
overflow: hidden;


}

.container{
  height:100vh ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}
.testimonial .image{
height: 150px;
width: 140px;
object-fit: cover;
border-radius: 50%;
}
    
.testimonial .slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.testimonial h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: #7F3814;
}

.slide p{
  padding: 0px 70px;
  text-align: center;
  font-size: 13.5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.slide .quote-icon{
  font-size: 30px;
  color: #7F3814;
}

.slide .details{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.details .name{
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
color: #7F3814;
}
.details .job{
  font-size: 13px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #7F3814;
  }

 
  .contact h2{
    margin-top: 4rem;
    color: #7F3814;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
  }

  .contact form{
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom:3rem;
  }

  .contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .input-box input,
  .contact form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color:#fdfdfd ;
    border-radius: .6rem;
    margin: .5rem 0;
    box-shadow: 0 .1rem .4rem rgba(0,0,0,0.2);
  }

  .contact form .input-box input{
    width: 49%;
  }
  .contact form textarea{
    resize: none;
    width: 620px;
    height: 12rem;
  }

  .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: #c7774f;
  }

  .footer p{
    font-size: 1rem;
    color: #fdfdfd;
  }

  .footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    background: #fdfdfd;
    border-radius: 7px;
    border: .1rem solid #fdfdfd;
    transition: 0.5s ease;
    margin-left: 450px;
    }

    .footer-icontop a:hover {
      outline-color: #333;   
     }
     
     .footer-icontop a i{
     font-size: 1.4rem;
     color: #333;
     }


     body {
      font-family: Arial, sans-serif;
  }
  
  .carousel {

      width: 100%; 
      margin: 0 auto;
      overflow: hidden;
  }
  
  .img-bg{
    display: none;
    animation:  1s ease forwards;
  }

  .img-bg img{
    width: 100%;
    height: auto;
  }

  .carousel{

    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-text {
      position: absolute;
      bottom: 95px;
      font-family: 'Lobster',cursive;
      left: 10px;
      color: #fff;
    
      
  }
  
  .carousel-text h2 {
      margin: 0;
      font-size: 98px;
  }
  
  .carousel-text p {
      margin: 0;
      font-size: 36px;
  }
  

  